%nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3

  .container-fluid
    = link_to t('app.title'), root_path, class: 'navbar-brand'

    %button.navbar-toggler{ data: { toggle: "collapse", target: "#navbar-toggleable" } }
      %span.navbar-toggler-icon

    - if current_user.present?
      #navbar-toggleable.collapse.navbar-collapse.justify-content-end
        %ul.navbar-nav.mr-2
          %li.nav-item
            .nav-link= t('.hello', user: current_user.email)
          %li.nav-item
            = link_to t('.logout'), destroy_user_session_path, method: :delete, class: "nav-link"
